# Node modules
frontend/node_modules/

# Python virtual environment
backend/venv/

# Python cache
backend/__pycache__/
backend/uploads/*
!backend/uploads/.gitkeep

# Environment variables
.env

# Build folders
dist/

# VS Code
.vscode/

# OS files
.DS_Store
backend/uploads/
backend/uploads/**

**/__pycache__/
*.pyc